{% extends 'base.html' %}
{% load static %}
{% block title %}<title>password_reset</title>{% endblock %}
{% block css %}<link href="{% static 'css/auth/password_change_form.css' %}" rel="stylesheet">{% endblock css %}

{% block content %}
<div class="box-container">
    <div class="box reset-box">
        <span class="border-line reset-border-line"></span>
        <form action="" method="POST">
            {% csrf_token %}
            <h2 id="password-reset-title">Password Reset</h2>
            <div class="inputBox">
                {{form.email}}
                <span class="email-span" id="register-email">Email</span>
                <i class="email-i"></i>
            </div> 
            {{form.email.errors}}
            <div class="links">
                <a href="" style="opacity: 0;"></a>
                <a href="{% url 'auth_user:settings' %}" id="password-change-back">Back</a>
            </div>
            <button type="submit" id="password-change-submitbtn">Send</button>
        </form>
    </div>
</div>
{% endblock %}

{% block script %} 
<script>
    $(document).ready(function () {
    $('#id_email').blur(function (e) { 
        e.preventDefault();
        if (e.target.value) {
            $('.email-i').css('height', '44px');
            $('.email-span').css({'font-size': '0.75em',
                                  'transform': 'translateY(-30px)'});
        } else{
            $('.email-i').removeAttr('style');
            $('.email-span').removeAttr('style');
        }
    });
});
</script>
{% endblock %}