{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Settings</title>{% endblock %}
{% block css %}<link href="{% static 'css/auth/password_change_form.css' %}" rel="stylesheet">{% endblock css %}

{% block content %}
<div class="box-container">
    <div class="box">
        <span class="border-line"></span>
        <form action="" method="POST">
            {% csrf_token %}
            <h2 id="password-change-title">Password Change</h2>
            <div class="inputBox">
                {{form.old_password}}
                <span class="password-span" id="password-change-old-password">Old Password</span>
                <i class="password-i"></i>
            </div> 
            {{form.old_password.errors}}
            <div class="inputBox">
                {{form.new_password1}}
                <span class="password-span" id="password-change-new-password">New Password</span>
                <i class="password-i"></i>
            </div> 
            {{form.new_password.errors}}
            <div class="inputBox">
                {{form.new_password2}}
                <span class="password-span" id="password-change-new-password-confirm">New Password Confirm</span>
                <i class="password-i"></i>
            </div>
            {{form.new_password2.errors}}
            <div class="links">
                <a href="" style="opacity: 0;"></a>
                <a href="{% url 'auth_user:settings' %}" id="password-change-back">Back</a>
            </div>
            <button type="submit" id="password-change-submitbtn">Send</button>
        </form>
    </div>
</div>
{% endblock %}

{% block script %} 
<script>
    $(document).ready(function () {
        $('#password-change-submitbtn').click(function () { 
            $.ajax({
                type: "POST",
                url: "/auth/alert_pure_quantity_private_ajax",
                data: {
                    csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                    name: 'password_change'
                },
                success: function (response) {
                    
                },
                error: function (data) {
                setTimeout(() => {
                  Swal.fire({
                    icon: 'error',
                    color: '#fff',
                    background: 'cadetblue',
                    title: localStorage.getItem('language') === 'zh' ? '發生未知錯誤' : 'An unknown error occurred',
                  }).then(() => {
                    window.location.reload();
                  })
                }, 2000);
              },
            });
        });
    });
</script>
{% endblock %}