{% extends 'base.html' %}
{% load static %}
{% block title %}<title>password_reset_complete</title>{% endblock %}
{% block css %}
<link href="{% static 'css/auth/password_change_form.css' %}" rel="stylesheet">
<style>
    p {
        margin: 60px;
        color: black;
        text-align: center;
    }
</style>
{% endblock css %}

{% block content %}
<div class="box-container">
    <div class="box reset-box">
        <span class="border-line reset-border-line"></span>
        <form action="" method="POST">
            {% csrf_token %}
            <h2 id="password-change-done-title">Success</h2>
            <p id="password-reset-complete-text">New password has been done ~ ~</p>
            <div class="links">
                <a href="" style="opacity: 0;"></a>
                <a href="{% url 'auth_user:login' %}" id="password-reset-complete-signin">Sign in</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block script %} 
<!-- <script src="{% static 'js/photo.js' %}"></script> -->
{% endblock %}