{% extends 'base.html' %}
{% load static %}
{% block title %}<title>password_reset_confirm</title>{% endblock %}
{% block css %}
<link href="{% static 'css/auth/password_change_form.css' %}" rel="stylesheet">
<style>
    p{
        color: rgb(63, 37, 120);
        margin-top: 100px;
        text-align: center;
    }
</style>
{% endblock css %}

{% block content %}
<div class="box-container">
    <div class="box reset-confirm-box">
        <span class="border-line reset-confirm-border-line"></span>
        <form action="" method="POST" class="form_exist">
            {% csrf_token %}
            <h2 id="password-reset-title">Password Reset</h2>
            {% if form %}
                <div class="inputBox">
                    {{form.new_password1}}
                    <span class="password-span" id="password-change-new-password">New Password</span>
                    <i class="password-i"></i>
                </div> 
                <div class="inputBox">
                    {{form.new_password2}}
                    <span class="password-span" id="password-change-new-password-confirm">New Password Confirm</span>
                    <i class="password-i"></i>
                </div>
                {{form.new_password2.errors}}
                <button type="submit" id="password-change-submitbtn">Send</button>
            {% else %}
                <p id="password-reset-confirm-text">password has already reset or expired</p>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}

{% block script %} {% endblock %}