{% extends 'base.html' %}
{% load static %}
{% block title %}<title>password_reset_done</title>{% endblock %}
{% block css %}<link href="{% static 'css/auth/password_change_form.css' %}" rel="stylesheet">{% endblock css %}

{% block content %}
<div class="box-container">
    <div class="box reset-done-box">
        <span class="border-line reset-done-border-line"></span>
        <form action="" method="POST">
            <h2 id="password-change-done-title">Success</h2>
            <p style="margin-top: 50px;" id="password-reset-done-text1">reset password page sent successfully</p>
            <p id="password-reset-done-text2">Please check your email</p>
            <div class="links">
                <a href="" style="opacity: 0;"></a>
                <a href="{% url 'auth_user:login' %}" id="password-change-back">Back</a>
            </div>  
        </form>
    </div>
</div>
{% endblock %}

{% block script %} 
<!-- <script src="{% static 'js/photo.js' %}"></script> -->
{% endblock %}