{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Password_change_done.html</title>{% endblock %}
{% block css %}<link href="{% static 'css/auth/password_change_form.css' %}" rel="stylesheet">{% endblock css %}

{% block content %}
<div class="box-container">
    <div class="box done-box">
        <span class="border-line done-border-line"></span>
        <form action="" method="POST">
            <h2 id="password-change-done-title">Success</h2>
            <p id="password-change-done-text">New password has been done ~ ~</p>
            <div class="links">
                <a href="{% url 'auth_user:settings' %}" id="password-change-done-back">Back</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block script %} 
<!-- <script src="{% static 'js/photo.js' %}"></script> -->
{% endblock %}