:root {
    --sidebar-color: cornflowerblue;
    --sidebar-inside-color: cadetblue;
    --sidebar-inside-color-hover: rgb(94, 200, 204);
    --sidebar-inside-color-op0-4: rgba(95, 158, 160, 0.363);
    --sidebar-main-textcolor: rgb(63, 94, 152);
    --bg-1: rgb(242, 204, 153);
    --bg-1-op-0-2: rgba(242, 203, 153, 0.223);
    --bg-1-3d-secondColor: rgba(105, 105, 105, 0.5);
    --bg-2: rgb(222, 211, 227);
    --bg-orange: rgb(255, 169, 20);
    --bg-orange-hover: rgb(170, 114, 18);
    --bg-light-orange: rgb(219, 171, 145);
    --bg-light-orange-hover: rgb(199, 136, 102);
    --bg-red: firebrick;
    --bg-red-hover: rgb(111, 20, 20);
    --bg-light-red: rgb(214, 134, 134);
    --bg-light-red-hover: rgb(154, 68, 68);
    --bg-purple: rgb(99, 57, 190);
    --bg-purple-hover: rgb(63, 37, 120);
    --bg-brown: brown;
}

.box-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.box {
    position: relative;
    width: 380px;
    height: 420px;
    overflow: hidden;
    border-radius: 5px;
}

.box::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent ,
                var(--bg-purple), var(--bg-purple), var(--bg-purple));
    z-index: 1;
    transform-origin: bottom right;
    animation: border-line 6s linear infinite;
}

.box::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent ,
                var(--bg-purple), var(--bg-purple), var(--bg-purple));
    z-index: 1;
    transform-origin: bottom right;
    animation: border-line 6s linear infinite;
    animation-delay: -3s;
}

.border-line {
    position: absolute;
    top: 0;
    inset: 0;
}

.border-line::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent ,
                var(--bg-orange), var(--bg-orange), var(--bg-orange));
    z-index: 1;
    transform-origin: bottom right;
    animation: border-line 6s linear infinite;
    animation-delay: -1.5s;
}

.border-line::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent ,
                var(--bg-orange), var(--bg-orange), var(--bg-orange));
    z-index: 1;
    transform-origin: bottom right;
    animation: border-line 6s linear infinite;
    animation-delay: -4.5s;
}

form {
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    border-radius: 5px;
    background-color: var(--sidebar-inside-color);
    position: absolute;
    inset: 4px;
    z-index: 2;
}

.box form h2 {
    color: #fff;
    text-align: center;
    letter-spacing: 0.1em;
}

.box form #settings-change-password {
    width: 300px;
    margin-top: 30px;
    border: none;
    outline: none;
    padding: 9px 25px;
    background-color: var(--bg-purple);
    color: #fff;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.box form #settings-change-password:hover {
    background-color: var(--bg-purple-hover);
    transform: scale(1.05);
}

.box form #settings-change-password:active {
    transform: scale(0.9);
}

@keyframes border-line {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/**/

.toggler-wrapper {
    display: block;
    width: 45px;
    height: 25px;
    cursor: pointer;
    position: relative;
}

.toggler-wrapper input[type="checkbox"] {
display: none;
}

.toggler-wrapper input[type="checkbox"]:checked+.toggler-slider {
background-color: var(--bg-purple);
}

.toggler-wrapper .toggler-slider {
background-color: #ccc;
position: absolute;
border-radius: 100px;
top: 0;
left: 0;
width: 100%;
height: 100%;
-webkit-transition: all 300ms ease;
transition: all 300ms ease;
}

.toggler-wrapper .toggler-knob {
position: absolute;
-webkit-transition: all 300ms ease;
transition: all 300ms ease;
}

.toggler-wrapper.style-1 input[type="checkbox"]:checked+.toggler-slider .toggler-knob {
left: calc(100% - 19px - 3px);
}

.toggler-wrapper.style-1 .toggler-knob {
width: calc(25px - 6px);
height: calc(25px - 6px);
border-radius: 50%;
left: 3px;
top: 3px;
background-color: #fff;
}

.box .settings-text {
    color: black;
    font-size: small;
    margin-bottom: 0px;
    margin-left: 5px;
}

.toggler-wrapper p {
    width: 200px;
    font-size: large;
    color: #fff;
    position: absolute;
    top: 0;
    left: 60px;
}



