{% load static %}
<nav class="navbar navbar-expand navbar-light shadow topbar mb-4 sticky-top nav-custom
            {% if request.path == '/web_camera/' or  request.path == '/intel_camera/'%} web-intel-shadow
            {% elif request.path == '/image/' %} singal-img-shadow
            {% elif request.path == '/image_multiple/' %} multiple-img-shadow 
            {% elif request.path == '/video/' %} video-shadow 
            {% endif %}">
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    {% if request.path == '/image/photo/' or request.path == '/video/album_video/' or request.path == '/image/image_multiple_folder/' %}
    <form
        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" style="width: 220px !important;">
        <div class="input-group" style="width: 220px;">
            <input type="text" class="form-control bg-light small date_info" onfocus="(this.type = 'date')" placeholder="Please select date"
                aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <a class="btn datebtn" type="button">
                    <i class="fas fa-search fa-sm text-white"></i>
                </a>
            </div>
        </div>
    </form>
    {% elif request.path|make_list|slice:":14"|join:"" == '/image/photo/2' %}
    <a class="photo-search-back-btn btn-style1" href="{% url 'image:photo' %}">返回</a>
    {% elif request.path|make_list|slice:":20"|join:"" == '/video/album_video/2'%}
    <a class="photo-search-back-btn btn-style1" href="{% url 'video:album_video' %}">返回</a>
    {% elif request.path == '/camera_split/' %}
    <a class="camera-split-setting-btn btn-style1" href="{% url 'mainapp:camera_split_setting' %}">設定</a>
    {% elif request.path == '/camera_split_setting/' %}
    <a class="camera-split-setting-back-btn btn-style1" href="{% url 'mainapp:camera_split' %}">返回</a>
    {% endif %}
    <ul class="navbar-nav ml-auto">
        {% if request.path == '/image/photo/' or request.path == '/video/album_video/' %}
            <li class="nav-item dropdown no-arrow d-sm-none">
                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-search fa-fw"></i>
                </a>

                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                    aria-labelledby="searchDropdown">
                    <form class="form-inline mr-auto w-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light small date_info2" onfocus="(this.type = 'date')" placeholder="Please select date"
                            aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <a class="btn datebtn2" type="button">
                                    <i class="fas fa-search fa-sm text-white"></i>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </li>
        {% endif %}
            
        <!-- Nav Item - Alerts -->
        <li class="nav-item dropdown no-arrow mx-1 alertcsrf">
            {% csrf_token %}
            <a class="nav-link dropdown-toggle alert_btn" href="#" id="alertsDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                {% if alert_not_checked_qty > 9 %}
                <span class="badge badge-danger badge-counter">9+</span>
                {% elif alert_not_checked_qty == 0 %}
                <span class="badge badge-danger badge-counter"></span>
                {% else %}
                <span class="badge badge-danger badge-counter">{{alert_not_checked_qty}}</span>
                {% endif %}
                <span class="alert-qty" style="display: none;">{{alert_not_checked_qty}}</span>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in border-cum-0 alert-dropdown"
                aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header header-h6 text-center" id="nav-alertcenter">
                    Alerts Center
                </h6>
                {% for alert in alert_all %}
                <a class="dropdown-item d-flex align-items-center alert-message alert{{forloop.counter}}" data-alert-id="alert{{forloop.counter}}" 
                   href="{% url 'auth_user:alert_show_all' %}"
                   {% if not alert.is_checked %}style="background-color: var(--sidebar-inside-color-op0-4)"{% endif %}>     
                    {% if alert.last_one_item == 'image' %}
                    <div class="icon-circle alert-icon {% if not alert.last_two_item == 'none' %}alert-pos{% endif %}" 
                        style="background-color: var(--bg-1)" data-item="{{alert.last_one_item}}">
                        <i class="fas fa-solid fa-image text-white"></i>
                    </div>
                    {% elif alert.last_one_item == 'video' %}
                    <div class="icon-circle alert-icon {% if not alert.last_two_item == 'none' %}alert-pos{% endif %}" 
                        style="background-color: var(--bg-light-red)" data-item="{{alert.last_one_item}}">
                        <i class="fas fa-solid fa-video text-white"></i>
                    </div>
                    {% elif alert.last_one_item == 'folder' %}
                    <div class="icon-circle alert-icon {% if not alert.last_two_item == 'none' %}alert-pos{% endif %}" 
                        style="background-color: var(--bg-light-purple)" data-item="{{alert.last_one_item}}">
                        <i class="fas fa-fw fa-folder text-white"></i>
                    </div>
                    {% elif alert.last_one_item == 'profile_setting' %}
                    <div class="icon-circle alert-icon {% if not alert.last_two_item == 'none' %}alert-pos{% endif %}" 
                        style="background-color: var(--bg-light-blue)" data-item="{{alert.last_one_item}}">
                        <i class="fas fa-user text-white"></i>
                    </div>
                    {% elif alert.last_one_item == 'password_change' %}
                    <div class="icon-circle alert-icon {% if not alert.last_two_item == 'none' %}alert-pos{% endif %}" 
                        style="background-color: var(--bg-light-orange)" data-item="{{alert.last_one_item}}">
                        <i class="fas fa-key text-white"></i>
                    </div>
                    {% elif alert.last_one_item == 'camera_setting' %}
                    <div class="icon-circle alert-icon {% if not alert.last_two_item == 'none' %}alert-pos{% endif %}" 
                        style="background-color: var(--bg-green)" data-item="{{alert.last_one_item}}">
                        <i class="fas fa-duotone fa-camera text-white"></i>
                    </div>
                    {% endif %}    
                    {% if not alert.last_two_item == 'none' %}
                        {% if alert.last_two_item == 'image' %}
                        <div class="icon-circle alert-icon2" style="background-color: var(--bg-1)" data-item="{{alert.last_two_item}}">
                            <i class="fas fa-solid fa-image text-white"></i>
                        </div>
                        {% elif alert.last_two_item == 'video' %}
                        <div class="icon-circle alert-icon2" style="background-color: var(--bg-light-red)" data-item="{{alert.last_two_item}}">
                            <i class="fas fa-solid fa-video text-white"></i>
                        </div>
                        {% elif alert.last_two_item == 'folder' %}
                        <div class="icon-circle alert-icon2" style="background-color: var(--bg-light-purple)" data-item="{{alert.last_two_item}}">
                            <i class="fas fa-fw fa-folder text-white"></i>
                        </div>
                        {% elif alert.last_two_item == 'profile_setting' %}
                        <div class="icon-circle alert-icon2" style="background-color: var(--bg-light-blue)" data-item="{{alert.last_two_item}}">
                            <i class="fas fa-user text-white"></i>
                        </div>
                        {% elif alert.last_two_item == 'password_change' %}
                        <div class="icon-circle alert-icon2" style="background-color: var(--bg-light-orange)" data-item="{{alert.last_two_item}}">
                            <i class="fas fa-key text-white"></i>
                        </div>
                        {% elif alert.last_two_item == 'camera_setting' %}
                        <div class="icon-circle alert-icon2" style="background-color: var(--bg-green)" data-item="{{alert.last_two_item}}">
                            <i class="fas fa-duotone fa-camera text-white"></i>
                        </div>
                        {% endif %}
                    {% endif %}
                    <div style="margin-left: 55px;">
                        <div style="color: #222 !important; font-size: 13px;">
                            <span class="alert-date" style="margin-right: 55px;">{{alert.modified_at|date:'Y / m / d'}}</span>
                            <span class="alert-time" style="font-size: 12px; color: rgb(198, 52, 52) !important;">{{alert.modified_at|date:'H : i'}}</span>
                        </div>
                        <span class="font-weight-bold" style="color: var(--sidebar-inside-color); font-size: 15px">
                            您有 <span class="alert-total">{{alert.total_quantity}}</span> 則新通知
                        </span>
                    </div>
                </a>
                {% empty %}
                <p style="text-align: center; margin: 20px !important;">尚無通知</p>
                {% endfor %}
                <a class="dropdown-item text-center small text-gray-500" href="{% url 'auth_user:alert_show_all' %}"
                   id="alert-show-all-alert">Show All Alerts</a>
            </div>
        </li>

        <!-- Nav Item - Messages -->
        <!-- <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <span class="badge badge-danger badge-counter">7</span>
            </a>
            
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in border-cum-0"
                aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header header-h6">
                    Message Center 
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="{% static 'images/undraw_profile_1.svg' %}"
                            alt="...">
                        <div class="status-indicator bg-success"></div>
                    </div>
                    <div class="font-weight-bold">
                        <div class="text-truncate">Hi there! I am wondering if you can help me with a
                            problem I've been having.</div>
                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="{% static 'images/undraw_profile_2.svg' %}"
                            alt="...">
                        <div class="status-indicator"></div>
                    </div>
                    <div>
                        <div class="text-truncate">I have the photos that you ordered last month, how
                            would you like them sent to you?</div>
                        <div class="small text-gray-500">Jae Chun · 1d</div>
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="{% static 'images/undraw_profile_3.svg' %}"
                            alt="...">
                        <div class="status-indicator bg-warning"></div>
                    </div>
                    <div>
                        <div class="text-truncate">Last month's report looks great, I am very happy with
                            the progress so far, keep up the good work!</div>
                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                            alt="...">
                        <div class="status-indicator bg-success"></div>
                    </div>
                    <div>
                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                            told me that people say this to all dogs, even if they aren't good...</div>
                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                    </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
            </div>
        </li> -->

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if request.user.is_authenticated %}
                    <span class="mr-3 d-none d-lg-inline small user-name-color">{{request.user.profile.name}}</span>
                    <img class="img-profile rounded-circle"
                    src="{% static request.user.profile.imageURL %}">
                {% else %}
                    <span class="mr-3 d-none d-lg-inline small user-name-color" id="nav-guest">guest</span>
                    <img class="img-profile rounded-circle"
                    src="{% static 'images/undraw_profile.svg' %}">
                {% endif %}
                
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in user-dropdown"
                aria-labelledby="userDropdown">
                <a class="dropdown-item user-link" href="{% url 'auth_user:profile' %}">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    <span id="nav-profile">Profile</span>
                </a>
                <a class="dropdown-item user-link" href="{% url 'auth_user:settings' %}">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    <span id="nav-setting">Settings</span>
                </a>
                {% if request.user.is_superuser %}
                <a class="dropdown-item user-link" href="/admin" target="_blank">
                    <i class="fas fa-solid fa-database mr-2 text-gray-400"></i>
                    <span id="nav-database">Database</span>
                </a>
                {% endif %}
                <div class="dropdown-divider" style="margin: 0;"></div>
                {% if request.user.is_authenticated %}
                    <a class="dropdown-item user-link" href="{% url 'auth_user:logout' %}" >
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        <span id="nav-logout">Logout</span>
                    </a>
                {% else %}
                    <a class="dropdown-item user-link" href="{% url 'auth_user:login' %}" >
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        <span id="nav-login">Login</span>
                    </a>
                {% endif %}
            </div>
        </li>

    </ul>
</nav>